* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frontpage {
    min-height: 100vh;
    color: white;
    position: relative;
}

.frontpage::after {
    content: "";
    background-image: url(./images/image1.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    align-items: center;
    background-color: transparent;
}

nav .logo h1 {
    font-size: 48px;
    font-weight: bold;
    width: 60%;
    text-align: center;
    cursor: pointer;
    text-shadow: 7px 10px 10px black;
}

nav .link_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

nav .link_bar li {
    list-style-type: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-bottom: 1px solid white;
    text-shadow: 7px 10px 10px black;
}

nav .link_bar li:hover {
    color: red;
    transition: 0.4s ease-in-out;
    border: none;
    text-shadow: 7px 10px 10px black;
}

nav .link_bar button {
    background-color: transparent;
    outline: none;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid white;
    color: white;
    box-shadow: 7px 7px 10px black;
    font-family: "Times New Roman", Times, serif;
}

nav .link_bar button a {
    text-decoration: none;
    color: white;
}

nav .link_bar button:hover {
    color: white;
    background-color: rgb(238, 61, 61);
    transition: 0.5s ease-in-out;
}

nav .link_bar_open {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

nav .link_bar_open li {
    list-style-type: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-bottom: 1px solid white;
    text-shadow: 7px 10px 10px black;
}

nav .link_bar_open button {
    background-color: rgb(238, 61, 61);
    outline: none;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 7px 7px 10px black;
    font-family: "Times New Roman", Times, serif;
    border: none;
}

nav .link_bar_open button a {
    text-decoration: none;
    color: white;
}


/*------------------hamburger-------------------*/

nav .hamburger {
    display: none;
    cursor: pointer;
}

nav .hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 5px;
}


/*------------------front page-------------------*/

.user_wrapper {
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user_wrapper h1 {
    font-size: 56px;
    text-shadow: 7px 10px 10px black;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.user_wrapper span {
    font-weight: bold;
    font-size: 24px;
    text-shadow: 7px 10px 6px black;
    text-align: center;
    margin: 10px;
}

.user_wrapper .user_links {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
}

.user_links .user_links .link_icon {
    width: 100%;
    flex: 1;
}

.user_wrapper .user_links .link_icon i {
    font-size: 64px;
    cursor: pointer;
    color: rgb(238, 61, 61);
}

.user_wrapper .user_links .link_icon i:hover {
    color: white;
    transition: 0.5s ease-in-out;
}


/*------------------user project section------------------*/

.user_projects_wrapper {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
}

.user_projects_wrapper .user_projects_header {
    padding: 10px;
    z-index: 2;
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_projects_wrapper .user_projects_header h2 {
    text-shadow: 8px 4px 3px black;
    font-size: 32px;
    text-align: center;
}

.user_projects_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: grey;
    opacity: 0.3;
    min-height: 100vh;
}

.user_projects_wrapper .projects_list {
    display: flex;
    z-index: 2;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 90vh;
    align-items: center;
}

.user_projects_wrapper .projects_list .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    margin: 10px;
}

.user_projects_wrapper .projects_list .projects img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/*---------User Coding experience section------------------*/

.user_experience_wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.user_experience_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: -1;
}

.user_experience_wrapper .user_header {
    color: black;
}

.user_experience_wrapper .user_skill {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
}

.user_experience_wrapper .user_skill .skills {
    width: 125px;
    height: 125px;
    border-radius: 1rem;
    margin: 30px 10px 30px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user_experience_wrapper .user_skill .skills img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.user_experience_wrapper .user_skill .skills span {
    margin-top: 5px;
    color: black;
    font-size: 18px;
}


/*------------------User Introducion section-------------------*/

.user_intro_wrapper {
    min-height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.user_intro_wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: grey;
    z-index: -1;
    opacity: 0.3;
}

.user_intro_wrapper .user_intro_header {
    min-height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_intro_wrapper .user_intro_header h2 {
    text-shadow: 8px 4px 3px black;
    font-size: 32px;
    text-align: center;
}

.user_intro_wrapper .user_intro_container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    align-items: center;
}

.user_intro_wrapper .user_intro_container .user_image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: black;
}

.user_intro_wrapper .user_intro_container .user_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user_intro_wrapper .user_intro_container .user_summary {
    text-align: center;
}

.user_intro_wrapper .user_intro_container .user_summary p {
    padding: 10px;
    font-size: 20px;
}

.user_intro_wrapper .user_intro_container .user_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user_intro_wrapper .user_intro_container .user_contact .contact_choice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_intro_wrapper .user_intro_container .user_contact .contact_choice div {
    width: 64px;
    height: 64px;
    border-radius: 1rem;
    margin: 10px;
    cursor: pointer;
}

.user_intro_wrapper .user_intro_container .user_contact .contact_choice div a {
    text-decoration: none;
    color: rgb(238, 61, 61);
    font-size: 64px;
    object-fit: contain;
}

.phone {
    display: none;
}


/*-------------Footer sectopm--------------*/

footer {
    min-height: 5vh;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


/*------------------mobile responsive-------------------*/

@media only screen and (max-width: 836px) {
    body {
        overflow-x: hidden;
    }
    html {
        display: hidden;
    }
    nav .logo h1 {
        font-size: 36px;
    }
    nav .link_bar {
        position: absolute;
        top: 8vh;
        right: 0;
        height: 92vh;
        flex-direction: column;
        opacity: 0.8;
        transform: translateX(100%);
        display: none;
    }
    nav .link_bar_open {
        position: absolute;
        top: 8vh;
        right: 0;
        height: 92vh;
        background: #f6f6f0;
        background: -webkit-linear-gradient(top left, #f6f6f0, #b6b2b2);
        background: -moz-linear-gradient(top left, #f6f6f0, #b6b2b2);
        background: linear-gradient(to bottom right, #f6f6f0, #b6b2b2);
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        bottom: 0;
    }
    nav .link_bar_open li {
        list-style-type: none;
        font-size: 24px;
        cursor: pointer;
        border: none;
        padding: 8px;
        border-radius: 0.5rem;
        box-shadow: 5px 5px 10px black;
        background-color: rgb(238, 61, 61);
        color: white;
        border: none;
        text-shadow: 7px 10px 10px black;
        font-family: "Times New Roman", Times, serif;
    }
    nav .link_bar_open button {
        outline: none;
        font-size: 24px;
        padding: 8px;
        cursor: pointer;
        border-radius: 0.5rem;
        border: none;
        color: white;
        box-shadow: 7px 7px 10px black;
        font-family: "Times New Roman", Times, serif;
        background-color: rgb(238, 61, 61);
    }
    nav .link_bar_open button a {
        text-decoration: none;
        color: white;
    }
    nav .hamburger {
        display: block;
    }
    .user_wrapper h1 {
        font-size: 40px;
    }
    .user_wrapper span {
        font-size: 18px;
    }
    .user_wrapper .user_links {
        width: 50%;
    }
    .nav_background {
        background: #f6f6f0;
        background: -webkit-linear-gradient(top left, #f6f6f0, #b6b2b2);
        background: -moz-linear-gradient(top left, #f6f6f0, #b6b2b2);
        background: linear-gradient(to bottom right, #f6f6f0, #b6b2b2);
    }
}

@media only screen and (max-width: 505px) {
    .user_projects_wrapper .projects_list .projects {
        width: 300px;
        height: auto;
    }
    .user_experience_wrapper .user_skill .skills {
        width: 100px;
        height: 100px;
    }
    .user_intro_wrapper .user_intro_container {
        width: 100%;
    }
    .user_intro_wrapper .user_intro_container .user_image {
        width: 300px;
        height: 300px;
    }
    .user_experience_wrapper .user_skill {
        width: 60%;
    }
    footer {
        font-size: 12px;
    }
}

@media only screen and (max-width: 410px) {
    body {
        overflow-x: hidden;
    }
    .user_experience_wrapper .user_skill {
        width: 100%;
    }
    .user_experience_wrapper .user_skill .skills {
        width: 75px;
        height: 75px;
    }
    .phone {
        display: block;
    }
    .user_intro_wrapper .user_intro_container .user_summary p {
        padding: 15px;
        font-size: 14px;
    }
}